In [5]:
import json
import requests
import os
import time
import datetime
import requests
import pandas as pd
import pytz
from dotenv import load_dotenv

In [6]:
load_dotenv()
API_KEY = os.getenv("API_KEY")
TIME_T0 = 1606266000

In [7]:
def get_current_time():
    # Get current time
    current_time = datetime.datetime.now()

    # Convert to UTC time zone
    current_time_utc = datetime.datetime.now(pytz.utc)

    # Convert UTC time to Unix time
    unix_time = int(current_time_utc.timestamp())
    print("Current time in local:", current_time.strftime("%Y-%m-%d %H:%M:%S %Z"))
    print("Current time in UTC:", current_time_utc.strftime("%Y-%m-%d %H:%M:%S %Z"))
    print("Unix time:", unix_time)
    return unix_time

In [8]:
def utcunix_to_local(timepoint):
    utc_datetime = datetime.datetime.fromtimestamp(timepoint)
    return utc_datetime

In [9]:
def get_weather(api_key):
    url = f"https://api.openweathermap.org/data/2.5/weather?q=London,uk&APPID={api_key}"
    response = requests.get(url).json()
    return response

In [10]:
def format_response(location, historical):
    components = historical['components']
    data = {
        'lon': str(location['lon']),
        'lat': str(location['lat']),
        'aqi': str(historical['main']['aqi']),
        'co': float(components['co']),
        'no': float(components['no']),
        'no2': float(components['no2']),
        'o3': float(components['o3']),
        'so2': float(components['so2']),
        'pm2_5': float(components['pm2_5']),
        'pm10': float(components['pm10']),
        'nh3': float(components['nh3']),
        'time': utcunix_to_local(historical['dt'])
    }
    return data

In [11]:
def get_historical(lat, lon, start, end, api_key):
    url = f"http://api.openweathermap.org/data/2.5/air_pollution/history?lat={lat}&lon={lon}&start={start}&end={end}&appid={api_key}"
    response = requests.get(url).json()
    
    if 'coord' not in response:
        return None
    
    location = response['coord']
    
    if 'list' not in response:
        return None
    
    historical_data = response['list']
    
    data = [format_response(location, historical) for historical in historical_data]
    df = pd.DataFrame(data)
    return df

In [25]:
def process_data(city_list, TIME_T0, CURRENT_TIME, API_KEY):
    columns = ['lon', 'lat', 'aqi', 'co', 'no', 'no2', 'o3', 'so2', 'pm2_5', 'pm10', 'nh3', 'time']
    df = pd.DataFrame(columns=columns)

    for index, row in city_list.iterrows():
        data = get_historical(lat=row['Latitude'], lon=row['Longitude'], start=TIME_T0, end=CURRENT_TIME, api_key=API_KEY)
        if data is not None:
            df = pd.concat([df, data], ignore_index=True)

    return df

In [2]:
city_list = pd.read_csv('germany_city.csv')

In [3]:
city_list

                     City                    State   Latitude  Longitude
0                  Berlin                  Â Berlin  52.517037  13.388860
1                 Hamburg                 Â Hamburg  53.550341  10.000654
2                  Munich                 Â Bavaria  48.137108  11.575382
3                 Cologne  Â North Rhine-Westphalia  50.938361   6.959974
4               Frankfurt                   Â Hesse  50.110644   8.682092
5               Stuttgart       Â Baden-WÃ¼rttemberg  48.778449   9.180013
6              Dusseldorf  Â North Rhine-Westphalia  51.225402   6.776314
7                 Leipzig                  Â Saxony  51.340632  12.374733
8                Dortmund  Â North Rhine-Westphalia  51.514227   7.465279
9                   Essen  Â North Rhine-Westphalia  51.458224   7.015817
10                 Bremen                  Â Bremen  53.075820   8.807165
11                Dresden                  Â Saxony  51.049329  13.738144
12                Hanover            Â Lower Saxony  52.374478   9.738553
13              Nuremberg                 Â Bavaria  49.453872  11.077298
14               Duisburg  Â North Rhine-Westphalia  51.434999   6.759562
15                 Bochum  Â North Rhine-Westphalia  51.481811   7.219664
16              Wuppertal  Â North Rhine-Westphalia  51.264018   7.178037
17              Bielefeld  Â North Rhine-Westphalia  52.019101   8.531007
18                   Bonn  Â North Rhine-Westphalia  50.735851   7.100660
19                MÃ¼nster  Â North Rhine-Westphalia  51.962510   7.625188
20               Mannheim       Â Baden-WÃ¼rttemberg  49.489291   8.467310
21              Karlsruhe       Â Baden-WÃ¼rttemberg  49.006870   8.403420
22               Augsburg                 Â Bavaria  48.366804  10.898697
23              Wiesbaden                   Â Hesse  50.082038   8.241656
24        MÃ¶nchengladbach  Â North Rhine-Westphalia  51.194698   6.435364
25          Gelsenkirchen  Â North Rhine-Westphalia  51.511032   7.096012
26                 Aachen  Â North Rhine-Westphalia  50.776351   6.083862
27              Brunswick            Â Lower Saxony  52.264658  10.523607
28                   Kiel      Â Schleswig-Holstein  54.322708  10.135555
29               Chemnitz                  Â Saxony  50.832261  12.925298
30          Halle (Saale)           Â Saxony-Anhalt  51.482504  11.970545
31              Magdeburg           Â Saxony-Anhalt  52.131589  11.639961
32   Freiburg im Breisgau       Â Baden-WÃ¼rttemberg  47.996090   7.849400
33                Krefeld  Â North Rhine-Westphalia  51.333120   6.562334
34                  Mainz    Â Rhineland-Palatinate  50.001231   8.276251
35                 LÃ¼beck      Â Schleswig-Holstein  53.866444  10.684738
36                 Erfurt               Â Thuringia  50.977797  11.028736
37             Oberhausen  Â North Rhine-Westphalia  51.469614   6.851444
38                Rostock  Â Mecklenburg-Vorpommern  54.092444  12.128613
39                 Kassel                   Â Hesse  51.315455   9.492410
40                  Hagen  Â North Rhine-Westphalia  51.358294   7.473296
41                Potsdam             Â Brandenburg  52.400931  13.059140
42            SaarbrÃ¼cken                Â Saarland  49.234362   6.996379
43                   Hamm  Â North Rhine-Westphalia  51.680409   7.815197
44  Ludwigshafen am Rhein    Â Rhineland-Palatinate  49.470411   8.438157
45    MÃ¼lheim an der Ruhr  Â North Rhine-Westphalia  51.427293   6.882919
46              Oldenburg            Â Lower Saxony  53.138975   8.214602
47              OsnabrÃ¼ck            Â Lower Saxony  52.271960   8.047635
48             Leverkusen  Â North Rhine-Westphalia  51.032474   6.988119
49              Darmstadt                   Â Hesse  49.872775   8.651177
50             Heidelberg       Â Baden-WÃ¼rttemberg  49.409358   8.694724
51               Solingen  Â North Rhine-Westphalia  51.172163   7.084589
52                  Herne  Â North Rhine-Westphalia  51.538039   7.219985
53             Regensburg                 Â Bavaria  49.019533  12.097487
54                  Neuss  Â North Rhine-Westphalia  51.198178   6.691648
55              Paderborn  Â North Rhine-Westphalia  51.717704   8.752653
56             Ingolstadt                 Â Bavaria  48.763016  11.425040
57      Offenbach am Main                   Â Hesse  50.105500   8.761070
58                  FÃ¼rth                 Â Bavaria  49.477247  10.989363
59                    Ulm       Â Baden-WÃ¼rttemberg  48.397400   9.993434

In [4]:
city_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   City       60 non-null     object
 1   State      60 non-null     object
 2   Latitude   60 non-null     float64
 3   Longitude  60 non-null     float64
dtypes: float64(2), object(2)
memory usage: 2.0+ KB

In [13]:
df1 = city_list.iloc[0]

In [14]:
df1

City            Berlin
State          Â Berlin
Latitude     52.517037
Longitude     13.38886
Name: 0, dtype: object

In [18]:
new_df = pd.DataFrame([df1])

In [24]:
new_df

     City    State   Latitude  Longitude
0  Berlin  Â Berlin  52.517037   13.38886

In [16]:
CURRENT_TIME = get_current_time()

Current time in local: 2024-03-31 17:50:05
Current time in UTC: 2024-03-31 15:50:05 UTC
Unix time: 1711900205

In [26]:
df = process_data(new_df, TIME_T0, CURRENT_TIME, API_KEY)

In [27]:
type(df)

pandas.core.frame.DataFrame

In [28]:
df

,lon,lat,aqi,co,no,no2,o3,so2,pm2_5,pm10,nh3,time
0,13.3889,52.517,2,350.48,0.59,33.93,10.64,4.59,15.35,17.04,0.44,2020-11-25 02:00:00
1,13.3889,52.517,2,333.79,0.24,28.45,16.63,4.53,14.85,16.36,0.42,2020-11-25 03:00:00
2,13.3889,52.517,2,333.79,0.17,27.42,19.49,4.95,15.10,16.48,0.43,2020-11-25 04:00:00
3,13.3889,52.517,2,333.79,0.14,27.76,21.64,6.91,15.34,16.66,0.73,2020-11-25 05:00:00
4,13.3889,52.517,2,340.46,0.16,29.13,22.53,6.08,15.48,16.82,0.49,2020-11-25 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
29002,13.3889,52.517,2,270.37,1.87,6.34,49.35,2.71,17.31,25.24,4.94,2024-03-31 13:00:00
29003,13.3889,52.517,2,267.03,1.08,4.63,69.38,2.41,22.00,28.89,6.02,2024-03-31 14:00:00
29004,13.3889,52.517,2,263.69,0.52,3.51,85.83,1.89,23.18,28.18,6.40,2024-03-31 15:00:00
29005,13.3889,52.517,2,260.35,0.25,3.47,94.41,1.77,17.44,20.89,6.27,2024-03-31 16:00:00
29006,13.3889,52.517,2,257.02,0.11,4.33,95.84,2.00,13.27,15.84,6.52,2024-03-31 17:00:00

In [30]:
API_KEY

'bfdd4fa139528dd83f09a31cebb41760'